<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pmp.mapper.component.D4Y.D4YSubLine1M6Mapper">

    <select id="getD4YSubLine1M6TPZList" resultType="D4YSubLine1M6TPZ" parameterType="java.util.List">
        select [FAI15_1_Value]
        ,[FAI15_2_Value]
        ,[FAI15_3_Value]
        ,[FAI15_4_Value]
        ,[FAI15_5_Value]
        ,[FAI15_6_Value]
        ,[FAI15_7_Value]
        ,[FAI15_8_Value]
        ,[FAI15_9_Value]
        ,[FAI15_10_Value]
        ,[FAI15_11_Value]
        ,[FAI15_12_Value]
        ,[FAI15_13_Value]
        ,[FAI15_14_Value]
        ,[FAI15_15_Value]
        ,[FAI15_16_Value]
        ,[FAI15_17_Value]
        ,[FAI15_18_Value]
        ,[FAI15_19_Value]
        ,[FAI15_20_Value]
        ,[FAI15_21_Value]
        ,[FAI15_22_Value]
        ,[FAI15_23_Value]
        ,[FAI15_24_Value]
        ,[FAI15_25_Value]
        ,[FAI15_26_Value]
        ,[FAI15_27_Value]
        ,[FAI15_28_Value]
        ,[FAI15_29_Value]
        ,[FAI15_30_Value]
        ,[FAI15_31_Value]
        ,[FAI15_32_Value]
        ,[FAI15_33_Value]
        ,[FAI15_34_Value]
        from [MESDataCenter].[dbo].[m_D4Y_SubassemblyLine1_M6_XXT_v]
        where Barcode_MidPlate in
        <foreach item="BarcodeMidPlate" collection="BarcodeMidPlateList" open="(" separator="," close=")">
            #{BarcodeMidPlate}
        </foreach>
    </select>

    <select id="getD4YSubLine1M6TPXList" parameterType="java.util.List" resultType="D4YSubLine1M6TPX">
        select [Fin1_FAI6_1_Value]
        ,[Fin1_FAI6_2_Value]
        ,[Fin1_FAI6_3_Value]
        ,[Fin1_FAI6_4_Value]
        ,[Fin1_FAI6_5_Value]
        ,[Fin1_FAI6_6_Value]
        ,[Fin1_FAI6_7_Value]
        ,[Fin1_FAI6_8_Value]
        ,[Fin1_FAI6_9_Value]
        ,[Fin1_FAI6_10_Value]
        ,[Fin1_FAI6_11_Value]
        ,[Fin1_FAI6_12_Value]
        ,[Fin1_FAI6_13_Value]
        ,[Fin1_FAI6_14_Value]
        ,[Fin1_FAI6_15_Value]
        ,[Fin1_FAI6_16_Value]
        ,[Fin1_FAI6_17_Value]
        ,[Fin1_FAI6_18_Value]
        ,[Fin1_FAI6_19_Value]
        ,[Fin1_FAI6_20_Value]
        ,[Fin1_FAI6_21_Value]
        ,[Fin1_FAI6_22_Value]
        ,[Fin1_FAI6_23_Value]
        ,[Fin1_FAI6_24_Value]
        ,[Fin1_FAI6_25_Value]
        ,[Fin1_FAI6_26_Value]
        ,[Fin1_FAI6_27_Value]
        ,[Fin1_FAI6_28_Value]
        ,[Fin1_FAI129_1_Value]
        ,[Fin1_FAI129_2_Value]
        ,[Fin1_FAI129_3_Value]
        ,[Fin1_FAI129_4_Value]
        ,[Fin1_FAI129_5_Value]
        ,[Fin1_FAI129_6_Value]
        ,[Fin1_FAI129_7_Value]
        ,[Fin1_FAI129_8_Value]
        ,[Fin1_FAI129_9_Value]
        ,[Fin1_FAI129_10_Value]
        ,[Fin1_FAI129_11_Value]
        ,[Fin1_FAI129_12_Value]
        ,[Fin1_FAI129_13_Value]
        ,[Fin1_FAI129_14_Value]
        from [MESDataCenter].[dbo].[m_D4Y_SubassemblyLine1_M6_XXT_v]
        where Barcode_MidPlate in
        <foreach item="BarcodeMidPlate" collection="BarcodeMidPlateList" open="(" separator="," close=")">
            #{BarcodeMidPlate}
        </foreach>
    </select>

    <select id="getD4YSubLine1M6TPYList" parameterType="java.util.List" resultType="D4YSubLine1M6TPY">
        select [Fin1_FAI6_1_Value]
        ,[Fin1_FAI6_2_Value]
        ,[Fin1_FAI6_3_Value]
        ,[Fin1_FAI6_4_Value]
        ,[Fin1_FAI6_5_Value]
        ,[Fin1_FAI6_6_Value]
        ,[Fin1_FAI6_7_Value]
        ,[Fin1_FAI6_8_Value]
        ,[Fin1_FAI6_9_Value]
        ,[Fin1_FAI6_10_Value]
        ,[Fin1_FAI6_11_Value]
        ,[Fin1_FAI6_12_Value]
        ,[Fin1_FAI6_13_Value]
        ,[Fin1_FAI6_14_Value]
        ,[Fin1_FAI6_15_Value]
        ,[Fin1_FAI6_16_Value]
        ,[Fin1_FAI6_17_Value]
        ,[Fin1_FAI6_18_Value]
        ,[Fin1_FAI6_19_Value]
        ,[Fin1_FAI6_20_Value]
        ,[Fin1_FAI6_21_Value]
        ,[Fin1_FAI6_22_Value]
        ,[Fin1_FAI6_23_Value]
        ,[Fin1_FAI6_24_Value]
        ,[Fin1_FAI6_25_Value]
        ,[Fin1_FAI6_26_Value]
        ,[Fin1_FAI6_27_Value]
        ,[Fin1_FAI6_28_Value]
        ,[Fin1_FAI129_1_Value]
        ,[Fin1_FAI129_2_Value]
        ,[Fin1_FAI129_3_Value]
        ,[Fin1_FAI129_4_Value]
        ,[Fin1_FAI129_5_Value]
        ,[Fin1_FAI129_6_Value]
        ,[Fin1_FAI129_7_Value]
        ,[Fin1_FAI129_8_Value]
        ,[Fin1_FAI129_9_Value]
        ,[Fin1_FAI129_10_Value]
        ,[Fin1_FAI129_11_Value]
        ,[Fin1_FAI129_12_Value]
        ,[Fin1_FAI129_13_Value]
        ,[Fin1_FAI129_14_Value]
        ,[FAI130_1_Value]
        ,[FAI130_2_Value]
        ,[FAI130_3_Value]
        ,[FAI130_4_Value]
        ,[FAI130_5_Value]
        ,[FAI130_6_Value]
        ,[FAI130_7_Value]
        ,[FAI130_8_Value]
        ,[FAI130_9_Value]
        ,[FAI130_10_Value]
        ,[FAI130_11_Value]
        ,[FAI130_12_Value]
        ,[FAI130_13_Value]
        ,[FAI130_14_Value]
        from [MESDataCenter].[dbo].[m_D4Y_SubassemblyLine1_M6_XXT_v]
        where Barcode_MidPlate in
        <foreach item="BarcodeMidPlate" collection="BarcodeMidPlateList" open="(" separator="," close=")">
            #{BarcodeMidPlate}
        </foreach>
    </select>

</mapper>
