<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pmp.mapper.correct.d9x.Station41D9XMapper">

    <resultMap id="Station41Result" type="com.example.pmp.pojo.correct.d9x.Station41D9X">
        <result property="Barcode" column="Barcode"/>
        <result property="CCD2_FAI48" column="CCD2_FAI48"/>
        <result property="CCD2_FAI9" column="CCD2_FAI9"/>
        <result property="CCD2_FAI37_1" column="CCD2_FAI37-1"/>
        <result property="CCD2_FAI37_2" column="CCD2_FAI37-2"/>
        <result property="CCD2_FAI37_3" column="CCD2_FAI37-3"/>
        <result property="CCD2_FAI37_4" column="CCD2_FAI37-4"/>
        <result property="CCD2_FAI37_5" column="CCD2_FAI37-5"/>
        <result property="CCD2_FAI37_6" column="CCD2_FAI37-6"/>
        <result property="CCD2_FAI37_7" column="CCD2_FAI37-7"/>
        <result property="CCD2_FAI37_8" column="CCD2_FAI37-8"/>
        <result property="CCD2_FAI37_9" column="CCD2_FAI37-9"/>
        <result property="CCD2_FAI37_10" column="CCD2_FAI37-10"/>
        <result property="CCD2_FAI37_11" column="CCD2_FAI37-11"/>
        <result property="CCD2_FAI37_12" column="CCD2_FAI37-12"/>
        <result property="CCD2_FAI38_1" column="CCD2_FAI38-1"/>
        <result property="CCD2_FAI38_2" column="CCD2_FAI38-2"/>
        <result property="CCD2_FAI38_3" column="CCD2_FAI38-3"/>
        <result property="CCD2_FAI38_4" column="CCD2_FAI38-4"/>
        <result property="CCD2_FAI38_5" column="CCD2_FAI38-5"/>
        <result property="CCD2_FAI38_6" column="CCD2_FAI38-6"/>
        <result property="CCD2_FAI38_7" column="CCD2_FAI38-7"/>
        <result property="CCD2_FAI38_8" column="CCD2_FAI38-8"/>
        <result property="CCD2_FAI38_9" column="CCD2_FAI38-9"/>
        <result property="CCD2_FAI38_10" column="CCD2_FAI38-10"/>
        <result property="CCD2_FAI38_11" column="CCD2_FAI38-11"/>
        <result property="CCD2_FAI38_12" column="CCD2_FAI38-12"/>
        <result property="TestResult" column="TestResult"/>
        <result property="TestTime" column="TestTime"/>
        <result property="ModuleID" column="ModuleID"/>
        <result property="LineID" column="LineID"/>
        <result property="LineType" column="LineType"/>
        <result property="rn" column="rn"/>
        <result property="rn" column="rn"/>
    </resultMap>

    <!-- 从视图里捞取需要补正的数据集合 -->
    <select id="getStation41ListByTime" parameterType="String" resultMap="Station41Result">
        SELECT [Barcode]
             , [CCD2_FAI48]
             , [CCD2_FAI9]
             , [CCD2_FAI37-1]
             , [CCD2_FAI37-2]
             , [CCD2_FAI37-3]
             , [CCD2_FAI37-4]
             , [CCD2_FAI37-5]
             , [CCD2_FAI37-6]
             , [CCD2_FAI37-7]
             , [CCD2_FAI37-8]
             , [CCD2_FAI37-9]
             , [CCD2_FAI37-10]
             , [CCD2_FAI37-11]
             , [CCD2_FAI37-12]
             , [CCD2_FAI38-1]
             , [CCD2_FAI38-2]
             , [CCD2_FAI38-3]
             , [CCD2_FAI38-4]
             , [CCD2_FAI38-5]
             , [CCD2_FAI38-6]
             , [CCD2_FAI38-7]
             , [CCD2_FAI38-8]
             , [CCD2_FAI38-9]
             , [CCD2_FAI38-10]
             , [CCD2_FAI38-11]
             , [CCD2_FAI38-12]
             , [TestResult]
             , [TestTime]
             , [ModuleID]
             , [LineID]
             , [LineType]
             , [rn]
        FROM [MESDataCenter].[dbo].[m_D9X_MainLine3_M9_v]
        WHERE convert(varchar, TestTime, 121) between #{startTime} and #{endTime}
          AND Barcode NOT LIKE '%\u0000%'
          AND Barcode NOT LIKE '%?%'
          AND Barcode NOT LIKE '%ERROR%'
          AND Barcode != ''
    </select>

    <!-- 从补正后的表里捞取SN的测试数据 -->
    <select id="getStation41BySN" parameterType="String" resultMap="Station41Result">
        SELECT TOP(1) [Barcode]
             , [CCD2_FAI48]
             , [CCD2_FAI9]
             , [CCD2_FAI37-1]
             , [CCD2_FAI37-2]
             , [CCD2_FAI37-3]
             , [CCD2_FAI37-4]
             , [CCD2_FAI37-5]
             , [CCD2_FAI37-6]
             , [CCD2_FAI37-7]
             , [CCD2_FAI37-8]
             , [CCD2_FAI37-9]
             , [CCD2_FAI37-10]
             , [CCD2_FAI37-11]
             , [CCD2_FAI37-12]
             , [CCD2_FAI38-1]
             , [CCD2_FAI38-2]
             , [CCD2_FAI38-3]
             , [CCD2_FAI38-4]
             , [CCD2_FAI38-5]
             , [CCD2_FAI38-6]
             , [CCD2_FAI38-7]
             , [CCD2_FAI38-8]
             , [CCD2_FAI38-9]
             , [CCD2_FAI38-10]
             , [CCD2_FAI38-11]
             , [CCD2_FAI38-12]
             , [TestResult]
             , [TestTime]
             , [ModuleID]
             , [LineID]
             , [LineType]
             , [rn]
        FROM [MESDataCenter].[dbo].[m_D9X_MainLine3_M9_BZ_t]
        WHERE convert(varchar, TestTime, 121) between #{startTime} and #{endTime}
          AND Barcode = #{Barcode}
    </select>

    <!-- 插入补正后的数据，插入到补正表里 -->
    <insert id="insertStation41">
        insert into [MESDataCenter].[dbo].[m_D9X_MainLine3_M9_BZ_t]
        ( [Barcode]
        , [CCD2_FAI48]
        , [CCD2_FAI9]
        , [CCD2_FAI37-1]
        , [CCD2_FAI37-2]
        , [CCD2_FAI37-3]
        , [CCD2_FAI37-4]
        , [CCD2_FAI37-5]
        , [CCD2_FAI37-6]
        , [CCD2_FAI37-7]
        , [CCD2_FAI37-8]
        , [CCD2_FAI37-9]
        , [CCD2_FAI37-10]
        , [CCD2_FAI37-11]
        , [CCD2_FAI37-12]
        , [CCD2_FAI38-1]
        , [CCD2_FAI38-2]
        , [CCD2_FAI38-3]
        , [CCD2_FAI38-4]
        , [CCD2_FAI38-5]
        , [CCD2_FAI38-6]
        , [CCD2_FAI38-7]
        , [CCD2_FAI38-8]
        , [CCD2_FAI38-9]
        , [CCD2_FAI38-10]
        , [CCD2_FAI38-11]
        , [CCD2_FAI38-12]
        , [TestResult]
        , [TestTime]
        , [ModuleID]
        , [LineID]
        , [LineType]
        , [rn])
        values ( #{Barcode}
               , #{CCD2_FAI48}
               , #{CCD2_FAI9}
               , #{CCD2_FAI37_1}
               , #{CCD2_FAI37_2}
               , #{CCD2_FAI37_3}
               , #{CCD2_FAI37_4}
               , #{CCD2_FAI37_5}
               , #{CCD2_FAI37_6}
               , #{CCD2_FAI37_7}
               , #{CCD2_FAI37_8}
               , #{CCD2_FAI37_9}
               , #{CCD2_FAI37_10}
               , #{CCD2_FAI37_11}
               , #{CCD2_FAI37_12}
               , #{CCD2_FAI38_1}
               , #{CCD2_FAI38_2}
               , #{CCD2_FAI38_3}
               , #{CCD2_FAI38_4}
               , #{CCD2_FAI38_5}
               , #{CCD2_FAI38_6}
               , #{CCD2_FAI38_7}
               , #{CCD2_FAI38_8}
               , #{CCD2_FAI38_9}
               , #{CCD2_FAI38_10}
               , #{CCD2_FAI38_11}
               , #{CCD2_FAI38_12}
               , #{TestResult}
               , #{TestTime}
               , #{ModuleID}
               , #{LineID}
               , #{LineType}
               , #{rn})
    </insert>

    <select id="getStation41SNList" parameterType="String" resultType="String">
        select Barcode
        from [MESDataCenter].[dbo].[m_D9X_MainLine3_M9_v]
        where convert(varchar, TestTime, 121) between #{startTime} and #{endTime}
          AND Barcode NOT LIKE '%\u0000%'
          AND Barcode NOT LIKE '%?%'
          AND Barcode NOT LIKE '%ERROR%'
          AND Barcode != ''
    </select>

</mapper>
