<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pmp.mapper.correct.d9x.Station51D9XMapper">

    <resultMap id="Station51Result" type="com.example.pmp.pojo.correct.d9x.Station51D9X">
        <result property="Barcode" column="Barcode"/>
        <result property="CCD6_FAI1" column="CCD6_FAI1"/>
        <result property="CCD7_FAI31_1" column="CCD7_FAI31_1"/>
        <result property="CCD7_FAI61_1" column="CCD7_FAI61_1"/>
        <result property="CCD7_FAI31_2" column="CCD7_FAI31_2"/>
        <result property="CCD7_FAI61_2" column="CCD7_FAI61_2"/>
        <result property="CCD7_FAI57_1" column="CCD7_FAI57_1"/>
        <result property="CCD7_FAI63_1" column="CCD7_FAI63_1"/>
        <result property="CCD7_FAI57_2" column="CCD7_FAI57_2"/>
        <result property="CCD7_FAI63_2" column="CCD7_FAI63_2"/>
        <result property="CCD7_FAI46" column="CCD7_FAI46"/>
        <result property="CCD7_FAI5" column="CCD7_FAI5"/>
        <result property="CCD7_FAI34_1" column="CCD7_FAI34-1"/>
        <result property="CCD7_FAI34_2" column="CCD7_FAI34-2"/>
        <result property="CCD7_FAI34_3" column="CCD7_FAI34-3"/>
        <result property="CCD7_FAI34_4" column="CCD7_FAI34-4"/>
        <result property="CCD7_FAI34_5" column="CCD7_FAI34-5"/>
        <result property="CCD7_FAI34_6" column="CCD7_FAI34-6"/>
        <result property="CCD7_FAI34_7" column="CCD7_FAI34-7"/>
        <result property="CCD7_FAI34_8" column="CCD7_FAI34-8"/>
        <result property="CCD7_FAI34_9" column="CCD7_FAI34-9"/>
        <result property="CCD7_FAI34_10" column="CCD7_FAI34-10"/>
        <result property="CCD7_FAI34_11" column="CCD7_FAI34-11"/>
        <result property="CCD7_FAI34_12" column="CCD7_FAI34-12"/>
        <result property="CCD7_FAI34_13" column="CCD7_FAI34-13"/>
        <result property="CCD7_FAI34_14" column="CCD7_FAI34-14"/>
        <result property="CCD7_FAI34_15" column="CCD7_FAI34-15"/>
        <result property="CCD7_FAI34_16" column="CCD7_FAI34-16"/>
        <result property="CCD7_FAI34_17" column="CCD7_FAI34-17"/>
        <result property="CCD7_FAI34_18" column="CCD7_FAI34-18"/>
        <result property="CCD7_FAI34_19" column="CCD7_FAI34-19"/>
        <result property="CCD7_FAI34_20" column="CCD7_FAI34-20"/>
        <result property="CCD7_FAI34_21" column="CCD7_FAI34-21"/>
        <result property="CCD7_FAI34_22" column="CCD7_FAI34-22"/>
        <result property="CCD7_FAI34_23" column="CCD7_FAI34-23"/>
        <result property="CCD7_FAI34_24" column="CCD7_FAI34-24"/>
        <result property="CCD7_FAI34_25" column="CCD7_FAI34-25"/>
        <result property="CCD7_FAI34_26" column="CCD7_FAI34-26"/>
        <result property="CCD7_FAI34_27" column="CCD7_FAI34-27"/>
        <result property="CCD7_FAI34_28" column="CCD7_FAI34-28"/>
        <result property="CCD7_FAI43_1" column="CCD7_FAI43-1"/>
        <result property="CCD7_FAI43_2" column="CCD7_FAI43-2"/>
        <result property="CCD7_FAI43_3" column="CCD7_FAI43-3"/>
        <result property="CCD7_FAI43_4" column="CCD7_FAI43-4"/>
        <result property="CCD7_FAI43_5" column="CCD7_FAI43-5"/>
        <result property="CCD7_FAI43_6" column="CCD7_FAI43-6"/>
        <result property="CCD7_FAI43_7" column="CCD7_FAI43-7"/>
        <result property="CCD7_FAI43_8" column="CCD7_FAI43-8"/>
        <result property="CCD7_FAI43_9" column="CCD7_FAI43-9"/>
        <result property="CCD7_FAI43_10" column="CCD7_FAI43-10"/>
        <result property="CCD7_FAI43_11" column="CCD7_FAI43-11"/>
        <result property="CCD7_FAI43_12" column="CCD7_FAI43-12"/>
        <result property="CCD7_FAI43_13" column="CCD7_FAI43-13"/>
        <result property="CCD7_FAI43_14" column="CCD7_FAI43-14"/>
        <result property="CCD7_FAI43_15" column="CCD7_FAI43-15"/>
        <result property="CCD7_FAI43_16" column="CCD7_FAI43-16"/>
        <result property="CCD7_FAI43_17" column="CCD7_FAI43-17"/>
        <result property="CCD7_FAI43_18" column="CCD7_FAI43-18"/>
        <result property="CCD7_FAI43_19" column="CCD7_FAI43-19"/>
        <result property="CCD7_FAI43_20" column="CCD7_FAI43-20"/>
        <result property="CCD7_FAI43_21" column="CCD7_FAI43-21"/>
        <result property="CCD7_FAI43_22" column="CCD7_FAI43-22"/>
        <result property="CCD7_FAI43_23" column="CCD7_FAI43-23"/>
        <result property="CCD7_FAI43_24" column="CCD7_FAI43-24"/>
        <result property="CCD7_FAI43_25" column="CCD7_FAI43-25"/>
        <result property="CCD7_FAI43_26" column="CCD7_FAI43-26"/>
        <result property="CCD7_FAI43_27" column="CCD7_FAI43-27"/>
        <result property="CCD7_FAI43_28" column="CCD7_FAI43-28"/>
        <result property="Scan_FAI2_1" column="3D Scan_FAI2-1"/>
        <result property="Scan_FAI2_2" column="3D Scan_FAI2-2"/>
        <result property="Scan_FAI2_3" column="3D Scan_FAI2-3"/>
        <result property="Scan_FAI2_4" column="3D Scan_FAI2-4"/>
        <result property="Scan_FAI2_5" column="3D Scan_FAI2-5"/>
        <result property="Scan_FAI2_6" column="3D Scan_FAI2-6"/>
        <result property="Scan_FAI2_7" column="3D Scan_FAI2-7"/>
        <result property="Scan_FAI2_8" column="3D Scan_FAI2-8"/>
        <result property="Scan_FAI2_9" column="3D Scan_FAI2-9"/>
        <result property="Scan_FAI2_10" column="3D Scan_FAI2-10"/>
        <result property="Scan_FAI2_11" column="3D Scan_FAI2-11"/>
        <result property="Scan_FAI2_12" column="3D Scan_FAI2-12"/>
        <result property="Scan_FAI2_13" column="3D Scan_FAI2-13"/>
        <result property="Scan_FAI2_14" column="3D Scan_FAI2-14"/>
        <result property="Scan_FAI2_15" column="3D Scan_FAI2-15"/>
        <result property="Scan_FAI2_16" column="3D Scan_FAI2-16"/>
        <result property="Scan_FAI2_17" column="3D Scan_FAI2-17"/>
        <result property="Scan_FAI2_18" column="3D Scan_FAI2-18"/>
        <result property="Scan_FAI2_19" column="3D Scan_FAI2-19"/>
        <result property="Scan_FAI2_20" column="3D Scan_FAI2-20"/>
        <result property="Scan_FAI2_21" column="3D Scan_FAI2-21"/>
        <result property="Scan_FAI2_22" column="3D Scan_FAI2-22"/>
        <result property="Scan_FAI2_23" column="3D Scan_FAI2-23"/>
        <result property="Scan_FAI2_24" column="3D Scan_FAI2-24"/>
        <result property="Scan_FAI2_25" column="3D Scan_FAI2-25"/>
        <result property="Scan_FAI2_26" column="3D Scan_FAI2-26"/>
        <result property="Scan_FAI2_27" column="3D Scan_FAI2-27"/>
        <result property="Scan_FAI2_28" column="3D Scan_FAI2-28"/>
        <result property="Scan_FAI2_29" column="3D Scan_FAI2-29"/>
        <result property="Scan_FAI2_30" column="3D Scan_FAI2-30"/>
        <result property="Scan_FAI2_31" column="3D Scan_FAI2-31"/>
        <result property="Scan_FAI2_32" column="3D Scan_FAI2-32"/>
        <result property="Scan_FAI2_33" column="3D Scan_FAI2-33"/>
        <result property="Scan_FAI2_34" column="3D Scan_FAI2-34"/>
        <result property="Scan_FAI2_35" column="3D Scan_FAI2-35"/>
        <result property="Scan_FAI2_36" column="3D Scan_FAI2-36"/>
        <result property="Scan_FAI2_37" column="3D Scan_FAI2-37"/>

        <result property="CCD7_FAI75_1" column="CCD7_FAI75-1"/>
        <result property="CCD7_FAI75_2" column="CCD7_FAI75-2"/>
        <result property="CCD7_FAI75_3" column="CCD7_FAI75-3"/>
        <result property="CCD7_FAI74_1" column="CCD7_FAI74-1"/>
        <result property="CCD7_FAI74_2" column="CCD7_FAI74-2"/>
        <result property="CCD7_FAI74_3" column="CCD7_FAI74-3"/>
        <result property="CCD7_FAI31_3" column="CCD7_FAI31-3"/>
        <result property="CCD7_FAI31_4" column="CCD7_FAI31-4"/>
        <result property="CCD7_FAI31_5" column="CCD7_FAI31-5"/>


        <result property="TestResult" column="TestResult"/>
        <result property="TestTime" column="TestTime"/>
        <result property="ModuleID" column="ModuleID"/>
        <result property="LineID" column="LineID"/>
        <result property="LineType" column="LineType"/>
        <result property="rn" column="rn"/>

    </resultMap>

    <!-- 从视图里捞取需要补正的数据集合 -->
    <select id="getStation51ListByTime" parameterType="String" resultMap="Station51Result">
        SELECT [Barcode]
             , [CCD6_FAI1]
             , [CCD7_FAI31_1]
             , [CCD7_FAI61_1]
             , [CCD7_FAI31_2]
             , [CCD7_FAI61_2]
             , [CCD7_FAI57_1]
             , [CCD7_FAI63_1]
             , [CCD7_FAI57_2]
             , [CCD7_FAI63_2]
             , [CCD7_FAI46]
             , [CCD7_FAI5]
             , [CCD7_FAI34-1]
             , [CCD7_FAI34-2]
             , [CCD7_FAI34-3]
             , [CCD7_FAI34-4]
             , [CCD7_FAI34-5]
             , [CCD7_FAI34-6]
             , [CCD7_FAI34-7]
             , [CCD7_FAI34-8]
             , [CCD7_FAI34-9]
             , [CCD7_FAI34-10]
             , [CCD7_FAI34-11]
             , [CCD7_FAI34-12]
             , [CCD7_FAI34-13]
             , [CCD7_FAI34-14]
             , [CCD7_FAI34-15]
             , [CCD7_FAI34-16]
             , [CCD7_FAI34-17]
             , [CCD7_FAI34-18]
             , [CCD7_FAI34-19]
             , [CCD7_FAI34-20]
             , [CCD7_FAI34-21]
             , [CCD7_FAI34-22]
             , [CCD7_FAI34-23]
             , [CCD7_FAI34-24]
             , [CCD7_FAI34-25]
             , [CCD7_FAI34-26]
             , [CCD7_FAI34-27]
             , [CCD7_FAI34-28]
             , [CCD7_FAI43-1]
             , [CCD7_FAI43-2]
             , [CCD7_FAI43-3]
             , [CCD7_FAI43-4]
             , [CCD7_FAI43-5]
             , [CCD7_FAI43-6]
             , [CCD7_FAI43-7]
             , [CCD7_FAI43-8]
             , [CCD7_FAI43-9]
             , [CCD7_FAI43-10]
             , [CCD7_FAI43-11]
             , [CCD7_FAI43-12]
             , [CCD7_FAI43-13]
             , [CCD7_FAI43-14]
             , [CCD7_FAI43-15]
             , [CCD7_FAI43-16]
             , [CCD7_FAI43-17]
             , [CCD7_FAI43-18]
             , [CCD7_FAI43-19]
             , [CCD7_FAI43-20]
             , [CCD7_FAI43-21]
             , [CCD7_FAI43-22]
             , [CCD7_FAI43-23]
             , [CCD7_FAI43-24]
             , [CCD7_FAI43-25]
             , [CCD7_FAI43-26]
             , [CCD7_FAI43-27]
             , [CCD7_FAI43-28]
             , [3D Scan_FAI2-1]
             , [3D Scan_FAI2-2]
             , [3D Scan_FAI2-3]
             , [3D Scan_FAI2-4]
             , [3D Scan_FAI2-5]
             , [3D Scan_FAI2-6]
             , [3D Scan_FAI2-7]
             , [3D Scan_FAI2-8]
             , [3D Scan_FAI2-9]
             , [3D Scan_FAI2-10]
             , [3D Scan_FAI2-11]
             , [3D Scan_FAI2-12]
             , [3D Scan_FAI2-13]
             , [3D Scan_FAI2-14]
             , [3D Scan_FAI2-15]
             , [3D Scan_FAI2-16]
             , [3D Scan_FAI2-17]
             , [3D Scan_FAI2-18]
             , [3D Scan_FAI2-19]
             , [3D Scan_FAI2-20]
             , [3D Scan_FAI2-21]
             , [3D Scan_FAI2-22]
             , [3D Scan_FAI2-23]
             , [3D Scan_FAI2-24]
             , [3D Scan_FAI2-25]
             , [3D Scan_FAI2-26]
             , [3D Scan_FAI2-27]
             , [3D Scan_FAI2-28]
             , [3D Scan_FAI2-29]
             , [3D Scan_FAI2-30]
             , [3D Scan_FAI2-31]
             , [3D Scan_FAI2-32]
             , [3D Scan_FAI2-33]
             , [3D Scan_FAI2-34]
             , [3D Scan_FAI2-35]
             , [3D Scan_FAI2-36]
             , [3D Scan_FAI2-37]
             , [CCD7_FAI75-1]
             , [CCD7_FAI75-2]
             , [CCD7_FAI75-3]
             , [CCD7_FAI74-1]
             , [CCD7_FAI74-2]
             , [CCD7_FAI74-3]
             , [CCD7_FAI31-3]
             , [CCD7_FAI31-4]
             , [CCD7_FAI31-5]
             , [TestResult]
             , [TestTime]
             , [ModuleID]
             , [LineID]
             , [LineType]
             , [rn]
        FROM [MESDataCenter].[dbo].[m_D9X_MainLine3_M10_v]
        WHERE convert(varchar, TestTime, 121) between #{startTime} and #{endTime}
          AND Barcode NOT LIKE '%\u0000%'
          AND Barcode NOT LIKE '%?%'
          AND Barcode NOT LIKE '%ERROR%'
          AND Barcode != ''
    </select>

    <!-- 从补正后的表里捞取SN的测试数据 -->
    <select id="getStation51BySN" parameterType="String" resultMap="Station51Result">
        SELECT TOP (1) [Barcode]
                     , [CCD6_FAI1]
                     , [CCD7_FAI31_1]
                     , [CCD7_FAI61_1]
                     , [CCD7_FAI31_2]
                     , [CCD7_FAI61_2]
                     , [CCD7_FAI57_1]
                     , [CCD7_FAI63_1]
                     , [CCD7_FAI57_2]
                     , [CCD7_FAI63_2]
                     , [CCD7_FAI46]
                     , [CCD7_FAI5]
                     , [CCD7_FAI34-1]
                     , [CCD7_FAI34-2]
                     , [CCD7_FAI34-3]
                     , [CCD7_FAI34-4]
                     , [CCD7_FAI34-5]
                     , [CCD7_FAI34-6]
                     , [CCD7_FAI34-7]
                     , [CCD7_FAI34-8]
                     , [CCD7_FAI34-9]
                     , [CCD7_FAI34-10]
                     , [CCD7_FAI34-11]
                     , [CCD7_FAI34-12]
                     , [CCD7_FAI34-13]
                     , [CCD7_FAI34-14]
                     , [CCD7_FAI34-15]
                     , [CCD7_FAI34-16]
                     , [CCD7_FAI34-17]
                     , [CCD7_FAI34-18]
                     , [CCD7_FAI34-19]
                     , [CCD7_FAI34-20]
                     , [CCD7_FAI34-21]
                     , [CCD7_FAI34-22]
                     , [CCD7_FAI34-23]
                     , [CCD7_FAI34-24]
                     , [CCD7_FAI34-25]
                     , [CCD7_FAI34-26]
                     , [CCD7_FAI34-27]
                     , [CCD7_FAI34-28]
                     , [CCD7_FAI43-1]
                     , [CCD7_FAI43-2]
                     , [CCD7_FAI43-3]
                     , [CCD7_FAI43-4]
                     , [CCD7_FAI43-5]
                     , [CCD7_FAI43-6]
                     , [CCD7_FAI43-7]
                     , [CCD7_FAI43-8]
                     , [CCD7_FAI43-9]
                     , [CCD7_FAI43-10]
                     , [CCD7_FAI43-11]
                     , [CCD7_FAI43-12]
                     , [CCD7_FAI43-13]
                     , [CCD7_FAI43-14]
                     , [CCD7_FAI43-15]
                     , [CCD7_FAI43-16]
                     , [CCD7_FAI43-17]
                     , [CCD7_FAI43-18]
                     , [CCD7_FAI43-19]
                     , [CCD7_FAI43-20]
                     , [CCD7_FAI43-21]
                     , [CCD7_FAI43-22]
                     , [CCD7_FAI43-23]
                     , [CCD7_FAI43-24]
                     , [CCD7_FAI43-25]
                     , [CCD7_FAI43-26]
                     , [CCD7_FAI43-27]
                     , [CCD7_FAI43-28]
                     , [3D Scan_FAI2-1]
                     , [3D Scan_FAI2-2]
                     , [3D Scan_FAI2-3]
                     , [3D Scan_FAI2-4]
                     , [3D Scan_FAI2-5]
                     , [3D Scan_FAI2-6]
                     , [3D Scan_FAI2-7]
                     , [3D Scan_FAI2-8]
                     , [3D Scan_FAI2-9]
                     , [3D Scan_FAI2-10]
                     , [3D Scan_FAI2-11]
                     , [3D Scan_FAI2-12]
                     , [3D Scan_FAI2-13]
                     , [3D Scan_FAI2-14]
                     , [3D Scan_FAI2-15]
                     , [3D Scan_FAI2-16]
                     , [3D Scan_FAI2-17]
                     , [3D Scan_FAI2-18]
                     , [3D Scan_FAI2-19]
                     , [3D Scan_FAI2-20]
                     , [3D Scan_FAI2-21]
                     , [3D Scan_FAI2-22]
                     , [3D Scan_FAI2-23]
                     , [3D Scan_FAI2-24]
                     , [3D Scan_FAI2-25]
                     , [3D Scan_FAI2-26]
                     , [3D Scan_FAI2-27]
                     , [3D Scan_FAI2-28]
                     , [3D Scan_FAI2-29]
                     , [3D Scan_FAI2-30]
                     , [3D Scan_FAI2-31]
                     , [3D Scan_FAI2-32]
                     , [3D Scan_FAI2-33]
                     , [3D Scan_FAI2-34]
                     , [3D Scan_FAI2-35]
                     , [3D Scan_FAI2-36]
                     , [3D Scan_FAI2-37]
                     , [CCD7_FAI75-1]
                     , [CCD7_FAI75-2]
                     , [CCD7_FAI75-3]
                     , [CCD7_FAI74-1]
                     , [CCD7_FAI74-2]
                     , [CCD7_FAI74-3]
                     , [CCD7_FAI31-3]
                     , [CCD7_FAI31-4]
                     , [CCD7_FAI31-5]
                     , [TestResult]
                     , [TestTime]
                     , [ModuleID]
                     , [LineID]
                     , [LineType]
                     , [rn]
        FROM [MESDataCenter].[dbo].[m_D9X_MainLine3_M10_BZ_t]
        WHERE convert(varchar, TestTime, 121) between #{startTime} and #{endTime}
          AND Barcode = #{Barcode}
    </select>

    <!-- 插入补正后的数据，插入到补正表里 -->
    <insert id="insertStation51">
        insert into [MESDataCenter].[dbo].[m_D9X_MainLine3_M10_BZ_t]
        ( [Barcode]
        , [CCD6_FAI1]
        , [CCD7_FAI31_1]
        , [CCD7_FAI61_1]
        , [CCD7_FAI31_2]
        , [CCD7_FAI61_2]
        , [CCD7_FAI57_1]
        , [CCD7_FAI63_1]
        , [CCD7_FAI57_2]
        , [CCD7_FAI63_2]
        , [CCD7_FAI46]
        , [CCD7_FAI5]
        , [CCD7_FAI34-1]
        , [CCD7_FAI34-2]
        , [CCD7_FAI34-3]
        , [CCD7_FAI34-4]
        , [CCD7_FAI34-5]
        , [CCD7_FAI34-6]
        , [CCD7_FAI34-7]
        , [CCD7_FAI34-8]
        , [CCD7_FAI34-9]
        , [CCD7_FAI34-10]
        , [CCD7_FAI34-11]
        , [CCD7_FAI34-12]
        , [CCD7_FAI34-13]
        , [CCD7_FAI34-14]
        , [CCD7_FAI34-15]
        , [CCD7_FAI34-16]
        , [CCD7_FAI34-17]
        , [CCD7_FAI34-18]
        , [CCD7_FAI34-19]
        , [CCD7_FAI34-20]
        , [CCD7_FAI34-21]
        , [CCD7_FAI34-22]
        , [CCD7_FAI34-23]
        , [CCD7_FAI34-24]
        , [CCD7_FAI34-25]
        , [CCD7_FAI34-26]
        , [CCD7_FAI34-27]
        , [CCD7_FAI34-28]
        , [CCD7_FAI43-1]
        , [CCD7_FAI43-2]
        , [CCD7_FAI43-3]
        , [CCD7_FAI43-4]
        , [CCD7_FAI43-5]
        , [CCD7_FAI43-6]
        , [CCD7_FAI43-7]
        , [CCD7_FAI43-8]
        , [CCD7_FAI43-9]
        , [CCD7_FAI43-10]
        , [CCD7_FAI43-11]
        , [CCD7_FAI43-12]
        , [CCD7_FAI43-13]
        , [CCD7_FAI43-14]
        , [CCD7_FAI43-15]
        , [CCD7_FAI43-16]
        , [CCD7_FAI43-17]
        , [CCD7_FAI43-18]
        , [CCD7_FAI43-19]
        , [CCD7_FAI43-20]
        , [CCD7_FAI43-21]
        , [CCD7_FAI43-22]
        , [CCD7_FAI43-23]
        , [CCD7_FAI43-24]
        , [CCD7_FAI43-25]
        , [CCD7_FAI43-26]
        , [CCD7_FAI43-27]
        , [CCD7_FAI43-28]
        , [3D Scan_FAI2-1]
        , [3D Scan_FAI2-2]
        , [3D Scan_FAI2-3]
        , [3D Scan_FAI2-4]
        , [3D Scan_FAI2-5]
        , [3D Scan_FAI2-6]
        , [3D Scan_FAI2-7]
        , [3D Scan_FAI2-8]
        , [3D Scan_FAI2-9]
        , [3D Scan_FAI2-10]
        , [3D Scan_FAI2-11]
        , [3D Scan_FAI2-12]
        , [3D Scan_FAI2-13]
        , [3D Scan_FAI2-14]
        , [3D Scan_FAI2-15]
        , [3D Scan_FAI2-16]
        , [3D Scan_FAI2-17]
        , [3D Scan_FAI2-18]
        , [3D Scan_FAI2-19]
        , [3D Scan_FAI2-20]
        , [3D Scan_FAI2-21]
        , [3D Scan_FAI2-22]
        , [3D Scan_FAI2-23]
        , [3D Scan_FAI2-24]
        , [3D Scan_FAI2-25]
        , [3D Scan_FAI2-26]
        , [3D Scan_FAI2-27]
        , [3D Scan_FAI2-28]
        , [3D Scan_FAI2-29]
        , [3D Scan_FAI2-30]
        , [3D Scan_FAI2-31]
        , [3D Scan_FAI2-32]
        , [3D Scan_FAI2-33]
        , [3D Scan_FAI2-34]
        , [3D Scan_FAI2-35]
        , [3D Scan_FAI2-36]
        , [3D Scan_FAI2-37]
        , [CCD7_FAI75-1]
        , [CCD7_FAI75-2]
        , [CCD7_FAI75-3]
        , [CCD7_FAI74-1]
        , [CCD7_FAI74-2]
        , [CCD7_FAI74-3]
        , [CCD7_FAI31-3]
        , [CCD7_FAI31-4]
        , [CCD7_FAI31-5]
        , [TestResult]
        , [TestTime]
        , [ModuleID]
        , [LineID]
        , [LineType]
        , [rn])
        values ( #{Barcode}
               , #{CCD6_FAI1}
               , #{CCD7_FAI31_1}
               , #{CCD7_FAI61_1}
               , #{CCD7_FAI31_2}
               , #{CCD7_FAI61_2}
               , #{CCD7_FAI57_1}
               , #{CCD7_FAI63_1}
               , #{CCD7_FAI57_2}
               , #{CCD7_FAI63_2}
               , #{CCD7_FAI46}
               , #{CCD7_FAI5}
               , #{CCD7_FAI34_1}
               , #{CCD7_FAI34_2}
               , #{CCD7_FAI34_3}
               , #{CCD7_FAI34_4}
               , #{CCD7_FAI34_5}
               , #{CCD7_FAI34_6}
               , #{CCD7_FAI34_7}
               , #{CCD7_FAI34_8}
               , #{CCD7_FAI34_9}
               , #{CCD7_FAI34_10}
               , #{CCD7_FAI34_11}
               , #{CCD7_FAI34_12}
               , #{CCD7_FAI34_13}
               , #{CCD7_FAI34_14}
               , #{CCD7_FAI34_15}
               , #{CCD7_FAI34_16}
               , #{CCD7_FAI34_17}
               , #{CCD7_FAI34_18}
               , #{CCD7_FAI34_19}
               , #{CCD7_FAI34_20}
               , #{CCD7_FAI34_21}
               , #{CCD7_FAI34_22}
               , #{CCD7_FAI34_23}
               , #{CCD7_FAI34_24}
               , #{CCD7_FAI34_25}
               , #{CCD7_FAI34_26}
               , #{CCD7_FAI34_27}
               , #{CCD7_FAI34_28}
               , #{CCD7_FAI43_1}
               , #{CCD7_FAI43_2}
               , #{CCD7_FAI43_3}
               , #{CCD7_FAI43_4}
               , #{CCD7_FAI43_5}
               , #{CCD7_FAI43_6}
               , #{CCD7_FAI43_7}
               , #{CCD7_FAI43_8}
               , #{CCD7_FAI43_9}
               , #{CCD7_FAI43_10}
               , #{CCD7_FAI43_11}
               , #{CCD7_FAI43_12}
               , #{CCD7_FAI43_13}
               , #{CCD7_FAI43_14}
               , #{CCD7_FAI43_15}
               , #{CCD7_FAI43_16}
               , #{CCD7_FAI43_17}
               , #{CCD7_FAI43_18}
               , #{CCD7_FAI43_19}
               , #{CCD7_FAI43_20}
               , #{CCD7_FAI43_21}
               , #{CCD7_FAI43_22}
               , #{CCD7_FAI43_23}
               , #{CCD7_FAI43_24}
               , #{CCD7_FAI43_25}
               , #{CCD7_FAI43_26}
               , #{CCD7_FAI43_27}
               , #{CCD7_FAI43_28}
               , #{Scan_FAI2_1}
               , #{Scan_FAI2_2}
               , #{Scan_FAI2_3}
               , #{Scan_FAI2_4}
               , #{Scan_FAI2_5}
               , #{Scan_FAI2_6}
               , #{Scan_FAI2_7}
               , #{Scan_FAI2_8}
               , #{Scan_FAI2_9}
               , #{Scan_FAI2_10}
               , #{Scan_FAI2_11}
               , #{Scan_FAI2_12}
               , #{Scan_FAI2_13}
               , #{Scan_FAI2_14}
               , #{Scan_FAI2_15}
               , #{Scan_FAI2_16}
               , #{Scan_FAI2_17}
               , #{Scan_FAI2_18}
               , #{Scan_FAI2_19}
               , #{Scan_FAI2_20}
               , #{Scan_FAI2_21}
               , #{Scan_FAI2_22}
               , #{Scan_FAI2_23}
               , #{Scan_FAI2_24}
               , #{Scan_FAI2_25}
               , #{Scan_FAI2_26}
               , #{Scan_FAI2_27}
               , #{Scan_FAI2_28}
               , #{Scan_FAI2_29}
               , #{Scan_FAI2_30}
               , #{Scan_FAI2_31}
               , #{Scan_FAI2_32}
               , #{Scan_FAI2_33}
               , #{Scan_FAI2_34}
               , #{Scan_FAI2_35}
               , #{Scan_FAI2_36}
               , #{Scan_FAI2_37}
               , #{CCD7_FAI75_1}
               , #{CCD7_FAI75_2}
               , #{CCD7_FAI75_3}
               , #{CCD7_FAI74_1}
               , #{CCD7_FAI74_2}
               , #{CCD7_FAI74_3}
               , #{CCD7_FAI31_3}
               , #{CCD7_FAI31_4}
               , #{CCD7_FAI31_5}
               , #{TestResult}
               , #{TestTime}
               , #{ModuleID}
               , #{LineID}
               , #{LineType}
               , #{rn})
    </insert>

    <select id="getStation51SNList" parameterType="String" resultType="String">
        select Barcode
        from [MESDataCenter].[dbo].[m_D9X_MainLine3_M10_v]
        where convert(varchar, TestTime, 121) between #{startTime} and #{endTime}
          AND Barcode NOT LIKE '%\u0000%'
          AND Barcode NOT LIKE '%?%'
          AND Barcode NOT LIKE '%ERROR%'
          AND Barcode != ''
    </select>

</mapper>
