<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pmp.mapper.hot.MThermodynamicchartTMapper">

    <insert id="insertMThermodynamicchartT" parameterType="MThermodynamicchartT">
        insert into [MESDataCenter].[dbo].[m_ThermodynamicChart_t]
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Testpcid != null">Testpcid,</if>
            <if test="Collecttime != null">Collecttime,</if>
            <if test="FileName != null">FileName,</if>
            <if test="ProjectName != null">ProjectName,</if>
            <if test="LineType != null">LineType,</if>
            <if test="LineName != null">LineName,</if>
            <if test="ModuleID != null">ModuleID,</if>
            <if test="CameraID != null">CameraID,</if>
            <if test="Barcode != null">Barcode,</if>
            <if test="Direction != null">Direction,</if>
            <if test="ErrorCode != null">ErrorCode,</if>
            <if test="ErrorNum != null">ErrorNum,</if>
            <if test="PositionX != null">PositionX,</if>
            <if test="PositionY != null">PositionY,</if>
            <if test="TestTime != null">TestTime,</if>
            <if test="Result != null">Result,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Testpcid != null">#{Testpcid},</if>
            <if test="Collecttime != null">#{Collecttime},</if>
            <if test="FileName != null">#{FileName},</if>
            <if test="ProjectName != null">#{ProjectName},</if>
            <if test="LineType != null">#{LineType},</if>
            <if test="LineName != null">#{LineName},</if>
            <if test="ModuleID != null">#{ModuleID},</if>
            <if test="CameraID != null">#{CameraID},</if>
            <if test="Barcode != null">#{Barcode},</if>
            <if test="Direction != null">#{Direction},</if>
            <if test="ErrorCode != null">#{ErrorCode},</if>
            <if test="ErrorNum != null">#{ErrorNum},</if>
            <if test="PositionX != null">#{PositionX},</if>
            <if test="PositionY != null">#{PositionY},</if>
            <if test="TestTime != null">#{TestTime},</if>
            <if test="Result != null">#{Result},</if>
        </trim>
    </insert>

    <select id="getHotReportData" parameterType="HotReport" resultType="MThermodynamicchartT">
        select * from [MESDataCenter].[dbo].[m_ThermodynamicChart_t]
        <where>
            <if test="ProjectName != null and ProjectName != ''">and ProjectName like concat('%', #{ProjectName}, '%')
            </if>
            <if test="LineType != null and LineType != ''">and LineType like concat('%', #{LineType}, '%')</if>
            <if test="LineName != null and LineName != ''">and LineName like concat('%', #{LineName}, '%')</if>
            <if test="Direction != null and Direction != ''">and Direction=#{Direction}</if>
            <if test="StartTime != null and StartTime != '' and EndTime != null and EndTime != ''">and convert(varchar,
                TestTime, 121) between #{StartTime} and #{EndTime}
            </if>
        </where>
    </select>

</mapper>
